body{
    background-color: $bodyBgColor;
    color: $bodyColor;
    overflow-x: hidden;
}
a{
    font-size: $link__fontSize;
}
p{
    font-size: 22px;
    color:$p__fontSize;
}

span{
    font-size: $span__fontSize;
}

//extend

a{
    @extend %link__styles;
}

h1{
    @extend %h1__styles;
}

h2 {
    @extend %h2__styles;
}

h3 {
    @extend %h3__styles;
}

button{
    @extend %button__styles;
}
